{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="icon" href="{% static 'imgs/icon.ico' %}" type="image/x-icon">
        <a class="voltar" href="{% url 'user_page' %}">
            Voltar
        </a>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js">
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Alterar Infos
        </title>
</head>
<body>
    <h1>
        Editar Perfil
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Salvar Alterações
        </button>
    </form>
</body>
</html>