{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Gutos Website</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <a class="register" href="{% url 'send_token' %}">Clique aqui para registrar sua conta</a>
</head>
<body>
    <center>
    <h1>Página de Login</h1>
    <div id="form" >
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    {% if mensagem_erro %}
        <p>{{ mensagem_erro }}</p>
    {% endif %}
    {% if mensagem_banimento %}
        <p>{{ mensagem_banimento }}</p>
    {% endif %}
    </center>
    </div>
</body>
</html>