{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <center>
        <h1>Complete seu Cadastro</h1>
    </center>
</head>
<body>
    <center>
        <form method="post" action="{% url 'register_user' %}">
            {% csrf_token %}
            <label for="complete_name">Nome completo:</label>
            <input type="text" name="complete_name" required>
            <br>
            <label for="complete_email">E-mail:</label>
            <input type="email" name="complete_email" required>
            <br>
            <label for="complete_password">Senha:</label>
            <input type="password" name="complete_password" required>
            <br>
            <input type="submit" value="Cadastrar">
        </form>
    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}
    </center>
</body>
</html>