{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <a href="/">Voltar</a>
    <center>
        <h1>Complete seu Cadastro</h1>
    </center>
</head>

<body>
    <center>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Cadastrar">
        </form>
        {% if message %}
        <div class="alert">
            {{ message }}
        </div>
        {% endif %}
    </center>
</body>
</html>