{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sua página</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <div class="container">
        <a class="sair" href="{% url 'logout' %}">
            Sair
        </a>
        <a class="alterarperfil" href="{% url 'update_user' %}">
            Alterar Perfil
        </a>
        <a class="mostrarusuarios" href="{% url 'show_users' %}">
            Lista de usuários
        </a>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
</head>

<body>
    <center>
        <h1>
            Bem-vind@ {{ user.username }}
        </h1>
        <img src="{{ user.image.url }}" alt="Imagem do usuário" width="200px" height="200px">
        <h3 id="descricao">
            -Sua Descrição:
        </h3>
        <h4>
            {{ user.description }}
        </h4>
    </center>
    <br>
    </br>
    <h2>
        Não sabe qual imagem de perfil escolher? digite aqui embaixo
    </h2>
    <form method="get" action="{% url 'search_images' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Pesquise sua imagem">
        <button type="submit">
            Pesquisar
        </button>
    </form>
    {% if results %}
        <h2>
            Resultados da Pesquisa
        </h2>
        <div class="image-results">
        {% for result in results %}
            <div class="carousel-item">
            <img src="{{ result.link }}" alt="{{ result.title }}" style="max-wdith: 600px; max-height: 400px;">
            </div>
        {% endfor %}
        </div>
            {% endif %}
    <script src="{% static 'js/api_form.js'%}">
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('mostrarOpcoes').addEventListener('click', function () {
                var opcoes = document.getElementById('opcoesAlteracao');
                if (opcoes.style.display === 'none' || opcoes.style.display === '') {
                    opcoes.style.display = 'block';
                } else {
                    opcoes.style.display = 'none';
                }
            });
        });
    </script>
</body>

</html>