body{
    background-color: rgb(44, 161, 97);
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease-in-out;
    animation: transitionIn 0.85s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
  }

.carousel-item{
    overflow: hidden;
    position: relative;
}

.carousel-item img{
    transition: transform 0.3s ease;
}

.carousel-item img:hover {
    transform: scale(1.2);
}