body{
    background-color: rgb(47, 103, 141);
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease-in-out;
    animation: transitionIn 0.85s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
  }

.carousel-item{
    overflow: hidden;
    position: relative;
}

.carousel-item img{
    transition: transform 0.3s ease;
}

.carousel-item img:hover {
    transform: scale(1.2);
}

a.register, a.sair, a.voltar, a.alterarperfil, a.mostrarusuarios{
    text-decoration: none;
    color: #000;
    transition: font-size 0.2s ease;
}

.container{
    position: relative;
}

.sair{
    position: absolute;
    top: 10px;
    left: 10px;
}

.alterarperfil{
    position: absolute;
    top: 10px;
    right: 10px;
}

.usuarios-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.usuario-item {
    flex: 0 0 calc(25% - 20px); 
    margin: 10px;
    text-align: center;
}

.usuario-image {
    max-width: 400px; 
    height: auto;
}

a.register:hover, a.sair:hover, a.voltar:hover, a.alterarperfil:hover, a.mostrarusuarios:hover{
    font-size: 18px;
}
